{% extends 'index.html' %}{% load static %}
{% block body %}

<div class="event-info-wrapper img-fluid">
    <div class="container">
        <div class="row" style="overflow-x: hidden">
            <div class="col-lg-12 info-text">
                <h1 class="font-weight-bold" data-aos="zoom-in" data-aos-duration="1000">
                    Events
                </h1>
            </div>
             
        </div>
     </div>
</div>
<div class="event-wrapper">
<div class="container">
            <div class="card-deck">
    
            {% for event in events %}
            <div class="card mb-5">
                <img class="card-img-top" src="{{ event.event_banner.url }}" alt="event banner">
                <div class="card-body">
                    <h3 class="card-title font-weight-bold"><a href="/event/{{ event.id }}">{{ event.event_title }}</a>
                    </h3>
                    <p class="font-weight-bold text-muted">{{ event.uploaded_at }}</p>
                    <p class="font-weight-bold">Organised by {{ event.organised_by }}</p>
                    <p class="event-category shadow">{{ event.event_category }}</p>
                </div>
            </div>
            {% endfor %}
            </div>


     
</div>
</div>


{% endblock %}