body {
  font-family: "Josefin Sans", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #fff;
  color: #070707;
  margin-bottom: 150px;
}
.info-text {
  border-left: 5px solid #ff9c33;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header {
  width: 100%;
  height: 50px;
  display: block;
}
.heading {
  float: left;
  vertical-align: middle;
  color: white;
  font-family: corbel;
}
.footer {
  background-color: #070707;
  padding: 30px;
  text-align: center;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.button {
  background-color: #ff9c33;
  color: #070707;
  padding: 10px 20px;
  outline: none;
  box-shadow: none;
}
.menu-wrapper {
  margin-top: 70px;
  margin-bottom: 70px;
}

.button:hover,
.button:active {
  background-color: #070707;
  color: #fff;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: #070707;
}

a:hover {
  text-decoration: none;
  color: #ff9c33;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  padding-bottom: 0px;
  width: 150px;
  position: fixed;
  text-decoration-color: #070707;
}
.base {
  background-color: #ff9c33;
}
.base .nav-link:hover {
  color: #070707;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav-link:hover {
  color: #070707;
}
.form-control:focus,
.form-control:active {
  border-color: #070707;
  outline: 0;
  box-shadow: inset 0 0 0;
}

.main-display-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}
.font-weight-light {
  padding-top: 10px;
  padding-bottom: 10px;
}
.subscribe-input {
  border-radius: 20px;
  padding: 20px;
}

.subscribe-btn {
  border-radius: 15px;
  padding: 10px 20px;
}
.browse-info-wrapper {
  width: 100%;
  background-color: #070707;
  text-align: center;
  padding: 100px 0px;
  color: #fff;
}
.browse-info-wrapper hr {
  background-color: #ff9c33;
  width: 110px;
  margin: 2px auto;
  text-align: center;
  height: 0px;
}

.event-info-wrapper,
.ach-info-wrapper,
.project-info-wrapper,
.emagazine-info-wrapper,
.about-us-wrapper {
  width: 100%;
  background-color: #070707;
  padding: 100px 0;
  text-align: left;

  margin-bottom: 120px;
  padding-left: 10px;
  margin-top: 10px;
  color: #fff;
}
.content {
  font-size: 20px;
}
.event-info-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/static/img/eicon.jpg");
  background-size: cover;
  padding: 600px 0px;
}
.project-info-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/static/img/projecticon.jpeg");
  background-size: cover;
  padding: 600px 0px;
}
.ach-info-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/static/img/achicon.jpeg");
  background-size: cover;
  padding: 600px 0px;
}

.card-img-top .img-fluid {
  max-width: 100%;
  height: auto;
}
.about-us-wrapper {
  padding: 80px 0;
  margin-bottom: 80px;
}
.e-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 47px;
}
.op-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card-img-top {
  width: 100%;
  height: 360px;
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.card {
  height: auto;
  width: 480px;
  background-color: #fefefe;
  border-radius: 50px;
}

.card:hover .card-img-top,
.card:focus .card-img-top {
  transform: scale(1.03);
  opacity: 0.9;
}
.event-category {
  background-color: #ff9c33;
  padding: 8px 0;
  margin: auto;
  width: 26%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.organised-by,
.sponsored-by {
  background-color: #fafafa;
  margin-top: 20px;
  padding: 40px;
  border-left: 7px #ff9c33 solid;
  text-transform: uppercase;
  text-align: center;
}

.event-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.event {
  background-color: #fff;
}
.category-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  color: #fff;
}

.category-wrapper a {
  text-decoration: none;
  color: #fff;
}

.category {
  text-align: center;
  background-color: #02042b;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.login-form form {
  width: 50%;
  margin: 0 auto;
}
.title {
  letter-spacing: 0px;
}
.content {
  size: 4px;
}
.event-section h2,
.achievement-section h2,
.project-section h2 {
  letter-spacing: 0px;
}

@media screen and (max-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .achievement-section,
  .event-section,
  .project-section {
    padding: 10px;
    border: 1px #eee solid;
  }
  .main-display-wrapper {
    display: block;
  }
  .categories-list {
    margin-bottom: 20px;
  }
  .login-form form {
    width: 100%;
    margin-bottom: 20px;
  }
  .nav-link {
    margin: 0px;
  }
}
