{% extends 'lognav.html' %}{% load static %} {% block body %}

<div class="container">
    <h1 class="text-center my-5 text-uppercase mb-3">UPDATE EVENT</h1>

    <form enctype="multipart/form-data" action="/event/update/{{event.id}}" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="input2" class="col-sm-3">Event title:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="input2" name="title" required value="{{event.event_title}}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="input3" class="col-sm-3 col-form-label">Event category:</label>
      <div class="col-sm-9">
        <select category="{{event.event_category}}" class="form-control" name="menu" id="select">
          <option>Select..</option>
          <option>Fest</option>
          <option>Activity</option>
          <option>Workshop</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="post_content" class="col-sm-3 col-form-label"
        >Event content:</label
      >
      <div class="col-sm-9">
        <textarea
          name="editor"
          id="post_content"
          name="editor"
          required
        >
        {{ event.event_description}}
        </textarea>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label for="input4" class="col-sm-3 col-form-label">Event tags:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="input4" name="tags" required value="{{event.event_tags}}" />
            </div>
    </div>
        <div class="form-group row">
            <label for="exampleFormControlFile1" class="col-sm-3 col-form-label font-weight-bold">Event banner:</label
      >
      <div class="col-sm-9">
          <small><a href="{{event.event_banner.url}}">Currently: {{event.event_banner.name}}</a></small>
        <input
          type="file"
          class="form-control-file"
          id="exampleFormControlFile1"
          name="banner"
          value="{{event.event_banner.url}}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="exampleFormControlFile1" class="col-sm-3 col-form-label"
        >Event data:</label
      >
      <div class="col-sm-9">
        <input
          type="file"
          class="form-control-file"
          id="exampleFormControlFile1"
          name="data"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="input5" class="col-sm-3">Organiser:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="input5" name="organised_by" value="{{event.organised_by}}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="input6" class="col-sm-3">Sponsor:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="input6" name="sponsored_by" value="{{event.sponsored_by}}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="input7" class="col-sm-3 col-form-label">Event date:</label>
            <div class="col-sm-9">
                <input class="form-control" id="input7" type="date" name="event_date" value="{{event.event_date | date:'Y-m-d'}}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="input8" class="col-sm-3 col-form-label">Uploaded_at:</label>
            <div class="col-sm-9">
                <input class="form-control" id="input8" type="date" name="uploaded_at" required value="{{event.uploaded_at | date:'Y-m-d'}}" />
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn button my-2 btn-sm">UPDATE</button>
        </div>
        <script src="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js"></script>
        <script>
            CKEDITOR.replace("editor");
        </script>
    </form>
</div>

{% endblock %}